/* About me page styles */
#AboutMe {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center; */
  /* height: 100vh; */
  /* background: #212121; */
  width: 100vw;
  /* margin-top: 24px */
}

.name {
  font-family: 'Bungee Hairline', cursive;
  font-size: 3.2rem;
  /* background-color: #be3144a1; */
}
.banner {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 150px 0; */
  height: 60vh;
}
.title {
  padding: 0 40px;
  /* height: 30vh; */
}
.self-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  margin: 48px 0;
  padding: 0 40px;
  height: 100%;
}
.skills {
  width: 100vw;
  /* margin-top: 16px; */
}
.experience__frontend {
  position: relative;
}
.experience__backend{
  position: relative;
}
.experience__design {
  position: relative;
}
.frontend-img {
  position: absolute;
  background-image: url(../assets/frontend.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -44;
  filter: blur(5px);
  -webkit-filter: brightness(10%);
  transition: 0.5s;
}
.backend-img {
  position: absolute;
  background-image: url(../assets/backend.jpg);
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -44;
  /* filter: blur(5px); */
  -webkit-filter: brightness(10%);
  transition: 0.5s;
}
.design-img {
  position: absolute;
  background-image: url(../assets/design.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -44;
  filter: blur(5px);
  -webkit-filter: brightness(15%);
  transition: 0.5s;
}
/*
.home-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.self-img {
  width: 300px;
  border-radius: 50%;
  margin: 0 80px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset,
    rgba(255, 255, 255, 0) 10px 10px 0px -3px, rgb(46, 23, 23) 10px 10px,
    rgba(255, 255, 255, 0) 20px 20px 0px -3px, rgb(112, 39, 39) 20px 20px,
    rgba(255, 255, 255, 0) 30px 30px 0px -3px, rgb(187, 28, 28) 30px 30px,
    rgba(255, 255, 255, 0) 40px 40px 0px -3px, rgb(255, 0, 0) 40px 40px;
}
.hello {
  font-size: 4rem;
}
.name {
  color: #ff0000;
}
.title-text {
  font-size: 5rem;
  font-weight: 100;
}
.title-text2 {
  font-size: 3rem;
  font-weight: 100;
  font-style: italic;
  color: #aaaaaa;
  text-align: start;
}
.home-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.self-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 80%;
  color: #aaaaaa;
  text-align: center;

  padding: 20px;
}
.self-intro-text {
  height: 100%;
  padding: 20px;
}
.middle {
  border-left: solid #ff0000 1px;
  border-right: solid #ff0000 1px;
} */

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  /* min-height: 100vh; */
  /* position: relative; */
  /* height: 1500px */
}

/* .me-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* --------------------CTA-------------------------- */

.cta {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}


/* --------------------HEADER SOCIALS-------------------------- */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  padding: 1.5rem;
  z-index: 33;
  font-size: 1.3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 3rem;
  background: var(--color-primary);
}

/* -------------------- ME -------------------------- */

/* .me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 3rem 0 0 0;
} */

/* .me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
  position: absolute;
  left: -5%;
} */

.me-image {
  border-radius: 2rem;
  overflow: hidden;
  /* transform: rotate(10deg); */
  transition: var(--transition);
}
/* .me-image:hover {
  transform: scale(120%);
} */


/* -------------------- scroll down -------------------------- */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  padding: 1.5rem;
}

/* ----------------------- MEDIA QUERIES (medium) ------------------------ */

@media screen and (max-width: 1024px) {
  .header__container {
    height: 100vh;
    justify-content: space-around;
    padding: 120px 0;
  }
  /* .about__me-image img {
    height: 15rem;
  } */
  }

/* ----------------------- MEDIA QUERIES (small) ------------------------ */

@media screen and (max-width: 600px) {
  .header__socials, .scroll__down {
    display: none;
  }
  /* .about__me-image img {
    height: 15rem;
  } */
}


/* -------------------ABOUT------------------------------------ */

.aboutme {
  margin-top: 4rem;
}

.aboutme > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}

.aboutme > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about__me {
width: 20rem;
height: 20rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
  overflow: hidden;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  /* transform: rotate(10deg); */
  transition: var(--transition);
}
.about__me-image img {
  height: 20rem;
}
.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  /* width: 9rem; */
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

.letswork {
  width: 100%;
  text-align: center;
  margin-top: 48px;
}

/* ----------------------- MEDIA QUERIES (medium) ------------------------ */

@media screen and (max-width: 1024px) {
  .aboutme {
    margin-top: 0;
  }

  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    height: 50%;
    margin: 2rem auto 4rem;
  }

  /* .header__container h1 {
    font-size: 400%;
  }
  .header__container h5 {
    font-size: 150%;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
    font-size: 1.5rem;
  } */
  .title-name {
    font-size: 2.7rem;
  }
}

/* ----------------------- MEDIA QUERIES (small) ------------------------ */

@media screen and (max-width: 600px) {
  #AboutMe {
    min-height: 120vh;
  }
  .banner {
    background-repeat: unset;
    background-attachment: unset;
  }
  .aboutme {
    margin-top: 0;
  }
  .about__me {
    width: 60%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }

  .about__me-image img {
    height: 13rem;
  }
  .header__container h1 {
    font-size: 250%;
  }
  .header__container h5 {
    font-size: 100%;
  }
  .header__container p {
    font-size: 100%;
  }
  .title-name {
    font-size: 2rem;
  }
  .self-description {
    font-size: 0.7rem;
  }
  .skills-link {
    text-align: center;
  }
}
