#Contact {
  box-sizing: border-box;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 90vh;

}
#Contact > h2 {
  text-align: center;
  color: var(--color-white);
  margin-top:  16px;
  padding: 16px 0;
  font-size: 3rem;
}
.contact-banner {
  position: relative;
  height: 360px;

  overflow: hidden;

}
.contact-banner-img {
  position: absolute;
 height: 100%;
 width: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 0.8s;

}
.contact-banner:hover .contact-banner-img {
  transform: scale(1.1);
}

#sendButton {
  background: none;
  font-family: 'Poiret One', cursive;
}
#sendButton:hover {
  background-color: var(--color-primary);
  border: 1px solid transparent;
}

.container.contact__container {
  width: 72%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.contact__options {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.2rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.contact__option {
  display: flex;
  flex-direction: column;
  background: none;
  padding: 1.2rem;
  border-radius: 2px;
  text-align: center;
  border: 2px solid white;
  transition: var(--transition);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.contact__option-icon {
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option p {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  color: white;
}

/* ============================ FORM =========================== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  margin-top: 2rem;
}
textarea:focus {
  border: 1px solid var(--color-primary);
}
input:focus {
  border: 1px solid var(--color-primary);
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 2px;
  background: transparent;
  border: 1px solid var(--color-white);
  resize: none;
  color: var(--color-white);
}

/* ----------------------- MEDIA QUERIES (medium) ------------------------ */

@media screen and (max-width: 1024px) {
  #Contact {
    margin-top: 4rem;
  }
  .contact__options {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
  }
  #sendButton {
    margin: 0 auto 120px auto;
  }
}

/* ----------------------- MEDIA QUERIES (small) ------------------------ */

@media screen and (max-width: 600px) {
  .contact__options {
    width: var(--container-width-sm);
    grid-template-columns: 1fr 1fr;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
  #sendButton {
    margin-bottom: 120px;
    margin: 0 auto 120px auto;
  }
}
