.footer {
  margin-top: 32px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--color-light);
}
.footer-links p:hover {
  cursor: pointer;
  color: var(--color-white);
}

.copyright {
  color: var(--color-light);
}
