#Projects {
  width: 100%;
}

#Projects > h2 {
  text-align: center;
  color: var(--color-white);
  margin-top:  16px;
  padding: 16px 0;
  font-size: 3rem;
}


.portfolio__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}


.portfolio__item {
  position: relative;
  background: var(--color-bg-variant);
  border-radius: 0;
  overflow: hidden;
}

.project-info {
  position: absolute;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 0;
  width: 100%;
}

.portfolio__item-image {
  border-radius:  0;
  overflow: hidden;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1.0s ease;
  -moz-transition: all 1.0s ease;
  -o-transition: all 1.0s ease;
  -ms-transition: all 1.0s ease;
  transition: all 1.0s ease;
}
.portfolio__item:hover .portfolio__item-image {
  /* filter: blur(5px); */
  transform: scale(1.1);
  border-color: var(--color-white);
  filter: brightness(20%);

}
.portfolio__item:hover .project-description {
  display: block;
  transition: 500ms;
  opacity: 1;
  height: auto;
}
.portfolio__item:hover .project-tools {
  display: block;
  transition: 500ms;
  opacity: 1;
  height: auto;
}
.portfolio__item:hover .project-info {
  top: 36%;
}


.portfolio__item h3 {
  font-size: 2rem;
}
.extra-space {
  height: 130px;
}

.touch-instructions {
  padding: 8px 16px;
  text-align: center;
  /* animation: fade-in-bottom 1s ease-in-out both; */
}
.project-description {
padding: 4px 40px;
text-align: center;
/* display: none; */
opacity: 0;
height: 0;
overflow: hidden;
transition: opacity 1s ease-out;
}
.project-tools {
padding: 16px;
font-size: 40px;
/* display: none; */
opacity: 0;
height: 0;
overflow: hidden;
transition: opacity 1s ease-out;
}
.project-tools .devicon-rails-plain-wordmark {
  font-size: 80px;
}
.project-tools .devicon-nodejs-plain-wordmark {
  font-size: 80px;
}
/* ----------------------- MEDIA QUERIES (medium) ------------------------ */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio__item-image {
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
  }
  .portfolio__item:hover .project-info {
    top: 20%;
  }
}

/* ----------------------- MEDIA QUERIES (small) ------------------------ */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
  }
  .portfolio__item-image {
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
  }
  #Projects > h2 {
    margin-top: 64px;
  }
}


/* @keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
} */
