#Skills {
  border-radius: 0.25em;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  font-weight: 100; */
}
#Skills > h2 {
  text-align: center;
  color: var(--color-white);
  margin-top:  32px;
  padding: 16px 0;
  font-size: 3rem;
}
/*

.skills-title {
  font-size: 1.6rem;
  text-transform: capitalize;
  text-align: center;
  color: #aaaaaa;
  width: 10%;
  margin: auto;
  padding: 0 0 0 0;
}
.skills-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.skills-subcategory {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  width: 100%;
  justify-content: center;
  align-content: start;
}
.skills-subheading {
  color: #aaaaaa;
  grid-column: 1 / 3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #aaaaaa;
  font-weight: 300;
  transition: 200ms;
  padding: 20px;
  margin: 20px;
  background-color: #000000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 2px inset,
    rgba(255, 255, 255, 0) 5px 5px 0px -3px, rgb(46, 23, 23) 5px 5px,
    rgba(255, 255, 255, 0) 10px 10px 0px -3px, rgb(112, 39, 39) 10px 10px,
    rgba(255, 255, 255, 0) 15px 15px 0px -3px, rgb(187, 28, 28) 15px 15px,
    rgba(255, 255, 255, 0) 20px 20px 0px -3px, rgb(255, 0, 0) 20px 20px;
}
.one {
  grid-row: 2;
}
.two {
  grid-row: 3;
}
.three {
  grid-row: 4;
}
.four {
  grid-row: 2;
}
.five {
  grid-row: 3;
}

.skill-text {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 0.8rem;
}
.skill-icon {
  padding: 0;
  margin: 0;
} */


.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  overflow: hidden;
  color: white;
  /* padding-bottom: 56px; */
}

.experience__container > div {
  /* background: var(--color-bg-white); */
  padding: 2.4rem 5rem;
  /* border-radius: 2rem; */
  border: 1px solid white;
  overflow: hidden;
  transition: transform 2s;
}

.experience__container > div:hover {
  /* background: transparent; */
  border-color: var(--color-primary);
  cursor: default;
}
.experience__container > div:hover .frontend-img {
  transform: scale(1.1);
}
.experience__container > div:hover .backend-img {
  transform: scale(1.1);
}
.experience__container > div:hover .design-img {
  transform: scale(1.1);
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-white);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* gap: 1rem; */
  justify-content: center;
}

.experience__details-icon {
  /* margin-top: 6px; */
  color: var(--color-primary);
  /* width: 2em;
  height: 2em; */
  font-size: 2rem;
  padding: 0.5rem;
}
.bi {
  /* padding-bottom: 32px; */
  font-size: 2rem;
}


/* ----------------------- MEDIA QUERIES (medium) ------------------------ */

@media screen and (max-width: 1124px) {
  .experience__container {
    grid-template-columns: 1fr;
    /* width: 90%; */
    margin-bottom: 36px;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
  .experience__details-icon {
    width: 4em;
    height: 3em;
  }
}

/* ----------------------- MEDIA QUERIES (small) ------------------------ */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
