#Skills {
  border-radius: 0.25em;
}
#Skills > h2 {
  text-align: center;
  color: var(--color-white);
  margin-top:  32px;
  padding: 16px 0;
  font-size: 3rem;
}

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  overflow: hidden;
  color: white;
}

.experience__container > div {
  padding: 2.4rem 5rem;
  border: 1px solid white;
  overflow: hidden;
  transition: transform 2s;
}

.experience__container > div:hover {
  border-color: var(--color-primary);
  cursor: default;
}
.experience__container > div:hover .frontend-img {
  transform: scale(1.1);
}
.experience__container > div:hover .backend-img {
  transform: scale(1.1);
}
.experience__container > div:hover .design-img {
  transform: scale(1.1);
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-white);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.experience__details-icon {
  color: var(--color-primary);
  font-size: 2rem;
  padding: 0.5rem;
}
.bi {
  font-size: 2rem;
}

.resume-link {
  text-transform: lowercase;
  font-size: 20px;
}
.resume-link i {
  font-size: 16px;
}

/* ----------------------- MEDIA QUERIES (medium) ------------------------ */

@media screen and (max-width: 1124px) {
  .experience__container {
    grid-template-columns: 1fr;
    margin-bottom: 36px;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
  .experience__details-icon {
    width: 4em;
    height: 3em;
  }
}

/* ----------------------- MEDIA QUERIES (small) ------------------------ */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
